<app-navbar-main></app-navbar-main>


<div class="gradient-bg d-flex align-items-center justify-content-center min-vh-100">
    <div class="container p-4 shadow-lg rounded-4 border border-dark reservation-table">
        <div class="row g-0">
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center p-4  text-center text-white">
                <img src="../../../assets/images/logo_black.png" alt="RestVisor" width="100">
                <h2 class="fw-bold text-dark fs-2 m-0 p-0">RestVisor</h2>
            </div>
            <div class="col-md-8 p-3">
                <h3 class="fw-bold mb-4">Sign Up</h3>
                <app-sign-up-form (formSubmitted)="onFormSubmit($event)"></app-sign-up-form>
            </div>
        </div>
        <div class = row>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3 text-center">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div>