.gradient-bg {
    background: radial-gradient(at bottom right,
    rgba(238, 222, 179, 0.92),
    rgba(255, 87, 65, 0.92)),
    url('../../../assets/images/background.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
}

.reservation-table {
    background-color: rgba(248, 255, 255, 0.59);
    border-radius: 15px;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 250;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    margin: 0;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: normal;
    color: #36291C;
    margin: 0;
}

.alert {
    padding: 1rem;
    border-radius: 0.25rem;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
