<div class="modal fade" id="addReservationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">ADD RESERVATION</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Client Name</label>
                        <input type="text" class="form-control rounded-pill" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone number</label>
                        <input type="text" class="form-control rounded-pill" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Hour</label>
                        <input type="time" class="form-control rounded-pill" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Number of people</label>
                        <input type="number" class="form-control rounded-pill" />
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn login-button">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>