<div class="reservation-table shadow">
    <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start px-4 py-1">
            <h4 class="text-center">Shifts</h4>
        </div>
    </div>
    <table class="w-100 text-center">
        <hr>
        <thead>
        <tr>
            <th>Date</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let shift of shifts">
            <td>{{ shift.date.toDate() | date }}</td>
            <td>{{ shift.start.toDate() | date: 'HH:mm' }}</td>
            <td>{{ shift.end ? (shift.end.toDate() | date: 'HH:mm') : 'N/A' }}</td>
            <td>{{ shift.total }}</td>
            <td>
                <button *ngIf="shift.state === 'ongoing'" (click)="clockOut(shift.shiftId)">Clock Out</button>
                <button *ngIf="shift.state === 'finished'">Completed</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="!isClockedIn">
        <button (click)="clockIn()">Clock In</button>
    </div>
</div>
