<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
        <div class="modal-header d-flex justify-content-center">
            <h4 class="modal-title">Add New Reservation</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date">
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="number" class="form-control" id="phone">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="number" class="form-label">Number of people</label>
                        <input type="number" class="form-control" id="number">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn black-button">Add</button>
        </div>
    </div>
</div>