<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="cancellation-modal-title" class="modal-title">Loading...</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <h4 id="cancellation-modal-message">Loading...</h4>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button id="cancellation-modal-no" type="button" class="btn gray-button" data-bs-dismiss="modal">Loading...</button>
            <button id="cancellation-modal-yes" type="button" class="btn black-button">Loading...</button>
        </div>
    </div>
</div>