<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header d-flex flex-column align-items-center border-0">
            <h3 class="modal-title text-center fw-bold w-100">EDIT</h3>
            <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body d-flex flex-column align-items-center border-0">
            <h4 class="modal-title text-center w-100">
                Are you sure you want to edit this plate?
            </h4>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn gray-button" data-bs-dismiss="modal">CANCEL</button>
            <button type="button" class="btn black-button" data-bs-dismiss="modal" onclick="window.location.href='menu-edit.html'">EDIT</button>
        </div>
    </div>
</div>