<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">ELIMINATE</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <h4>
                Are you sure you want to eliminate this plate?
            </h4>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn gray-button" data-bs-dismiss="modal">CANCEL</button>
            <button type="button" class="btn black-button">ELIMINATE</button>
        </div>
    </div>
</div>