<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog position-absolute end-0" style="top: 10.8%; right: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="loginModalLabel">LOG IN</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">e-mail</label>
                        <input type="email" class="form-control rounded-pill" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">password</label>
                        <input type="password" class="form-control rounded-pill" id="password">
                    </div>
                    <button type="submit" class="btn login-button w-100 shadow">LOG IN</button>
                </form>
            </div>
        </div>
    </div>
</div>