<app-navbar-main></app-navbar-main>

<div class="container-fluid py-4 px-3">
    <div class="row">
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center mb-4">
                <img src="assets/images/dish.png" alt="logo" class="img-fluid">
            </div>
            <div class="col-9">
                <div class="row h-50">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <h5 class="mb-4">Restaurant Name</h5>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <h5 class="mb-4 ">DD/MM/YYYY</h5>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <h5 class="mb-4">Position</h5>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <h5 class="mb-4">Day</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Active Workers</h5>
                    </div>
                </div>
            </div>
             <!-- Tabla de reservas -->
            <div class="col-9">
                <app-reservations-table></app-reservations-table>
            </div>
        </div>
       
        
    </div>
</div>

<!-- Modal de Confirmación -->
<app-generic-modal
        modalId="confirmReservationModal"
        title="Confirm Reservation"
        message="Are you sure you want to confirm this reservation?"
        confirmText="Confirm"
        (confirmed)="onConfirmReservation()">
</app-generic-modal>

<!-- Modal de Cancelación -->
<app-generic-modal
        modalId="cancelReservationModal"
        title="Cancel Reservation"
        message="This will cancel the reservation. Do you want to proceed?"
        confirmText="Cancel"
        (confirmed)="onCancelReservation()">
</app-generic-modal>

<!-- Modal de Eliminación -->
<app-generic-modal
        modalId="deleteReservationModal"
        title="Delete Reservation"
        message="This action will permanently delete the reservation. Continue?"
        confirmText="Delete"
        (confirmed)="onDeleteReservation()">
</app-generic-modal>