<div class="modal fade" id="loginModalbutton" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="login()">
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required />
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required />
                    </div>
                    <div class="text-danger small" *ngIf="error">{{ error }}</div>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>