<div class="gradient-bg">

<app-navbar-main></app-navbar-main>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-3 d-flex align-items-center justify-content-center">
            <div style="background-color: darkgray; height: 20vh; width: 15vh"></div>
        </div>
        <div class="col-9 d-flex">
            <div class="row w-100">
                <div class="col-6 d-flex flex-column justify-content-center align-items-start">
                    <h3 id="name"></h3>
                    <h3 id="email"></h3>
                </div>
                <div class="col-6 d-flex flex-column justify-content-center align-items-end">
                    <h3 id="date"></h3>
                    <h3 id="weekDay"></h3>
                </div>
            </div>
        </div>        
    </div>
    <div class="row justify-content-center mx-5">
        <app-worker-schedule class="col-md-3 px-3  my-3"></app-worker-schedule>
        <app-shifts-table class="col-md-9 px-3 my-3"></app-shifts-table>
    </div>
</div>
</div>
