<div class="gradient-bg">

    <app-navbar-main></app-navbar-main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 d-flex justify-content-center align-items-center mb-5 mt-4">
                <img src="assets/images/profilw-photo.webp" alt="logo" class="img-fluid w-50">
            </div>
            <div class="col-9">
                <div class="row h-50">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <h5 class="mb-4">Restaurant Name</h5>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <h5 class="mb-4 ">DD/MM/YYYY</h5>
                    </div>
                </div>
                <div class="row h-50">
                    <div class="col-6 d-flex justify-content-start align-items-center">
                        <h5 class="mb-4">Position</h5>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <h5 class="mb-4">Day</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mx-5">
            <app-worker-schedule class="col-md-3 px-3  my-3"></app-worker-schedule>
            <app-shifts-table class="col-md-9 px-3 my-3"></app-shifts-table>
        </div>
    </div>
</div>
