<div class="reservation-table shadow">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center px-4 py-3">
            <h2 class="text-center fw-bold text-dark fs-4">EDIT PAGE</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-center">
            <h3 class="fw-bold text-dark mb-3">Select image</h3>

            <div class="d-flex justify-content-center align-items-center rounded shadow-sm"
                 style="background-color: #D3D3D3; width: 100%; max-width: 250px; height: 180px;">
                <span class="fw-bold text-dark">Search file</span>
            </div>
        </div>


        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="fw-bold text-dark">Name</h3>
                    <input type="text" class="form-control rounded-pill bg-light shadow-sm" placeholder="Set name">
                </div>
                <!-- Precio -->
                <div class="col-md-6">
                    <h3 class="fw-bold text-dark">PRICE</h3>
                    <input type="text" class="form-control rounded-pill bg-light shadow-sm" placeholder="Set price">
                </div>
            </div>

            <div class="row mt-3">
                <!-- Categoría -->
                <div class="col-md-12">
                    <h3 class="fw-bold text-dark">Category</h3>
                    <input type="text" class="form-control rounded-pill bg-light shadow-sm" placeholder="Set category">
                </div>
            </div>
        </div>
    </div>

    <!-- DESCRIPCIÓN -->
    <div class="row mt-4">
        <div class="col-12">
            <h3 class="fw-bold text-dark">Description</h3>
            <textarea class="form-control bg-light shadow-sm" placeholder="Set description" rows="3"></textarea>
        </div>
    </div>

    <!-- BOTÓN GUARDAR -->
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-end">
            <button class="btn yellow-button shadow-sm px-4 py-2 fw-bold">Save Changes</button>
        </div>
    </div>
</div>