<div class="reservation-table shadow">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center px-4 py-3">
            <h2 class="text-center fw-bold text-dark fs-4">OPERATION TABLE MENU</h2>
        </div>
        <div class="col-12 d-flex justify-content-end px-4 py-3">
            <a href="menu-edit.html" class="btn yellow-button col-auto">ADD TO MENU</a>
        </div>
    </div>

    <table class="w-100 text-center">
        <thead>
        <tr>
            <th>IMAGE</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>DESCRIPTION</th>
            <th>CATEGORY</th>
            <th>EDIT</th>
            <th>ELIMINATE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img src="../static/images/dish.png" alt="Icon" style="width: 89.54px; height: 77.14px;"></td>
            <td>name</td>
            <td>999$</td>
            <td>Description...</td>
            <td>category</td>
            <td><button style="border: none; background: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#editModal"><img src="../static/images/edit.png" alt="Icon" style="width: 35px; height: 28px;"></button></td>
            <td><button style="border: none; background: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#eliminationModal"><img src="../static/images/bin.png" alt="Icon" style="width: 35px; height: 28px;"></button></td>
        </tr>
        <tr>
            <td><img src="../static/images/dish.png" alt="Icon" style="width: 89.54px; height: 77.14px;"></td>
            <td>name</td>
            <td>999$</td>
            <td>Description...</td>
            <td>category</td>
            <td><button style="border: none; background: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#editModal"><img src="../static/images/edit.png" alt="Icon" style="width: 35px; height: 28px;"></button></td>
            <td><button style="border: none; background: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#eliminationModal"><img src="../static/images/bin.png" alt="Icon" style="width: 35px; height: 28px;"></button></td>
        </tr>
        <tr>
            <td><img src="../static/images/dish.png" alt="Icon" style="width: 89.54px; height: 77.14px;"></td>
            <td>name</td>
            <td>999$</td>
            <td>Description...</td>
            <td>category</td>
            <td><button style="border: none; background: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#editModal"><img src="../static/images/edit.png" alt="Icon" style="width: 35px; height: 28px;"></button></td>
            <td><button style="border: none; background: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#eliminationModal"><img src="../static/images/bin.png" alt="Icon" style="width: 35px; height: 28px;"></button></td>
        </tr>
        <tr>
            <td><img src="../static/images/dish.png" alt="Icon" style="width: 89.54px; height: 77.14px;"></td>
            <td>name</td>
            <td>999$</td>
            <td>Description...</td>
            <td>category</td>
            <td><button style="border: none; background: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#editModal"><img src="../static/images/edit.png" alt="Icon" style="width: 35px; height: 28px;"></button></td>
            <td><button style="border: none; background: none; padding: 0;" data-bs-toggle="modal" data-bs-target="#eliminationModal"><img src="../static/images/bin.png" alt="Icon" style="width: 35px; height: 28px;"></button></td>
        </tr>

        </tbody>
    </table>
</div>