<div class="container">
    <div class="row justify-content-center">
        <!-- Tarjeta 1 -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="menu-card">
                <img src="../static/images/dish.png" alt="Food Image">
                <p class="fw-bold">Spicy seasoned seafood noodles</p>
                <p>2.29 $</p>
                <p class="text-light">20 Bowls available</p>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="menu-card">
                <img src="../static/images/dish.png" alt="Food Image">
                <p class="fw-bold">Spicy seasoned seafood noodles</p>
                <p>$ 2.29</p>
                <p class="text-light">20 Bowls available</p>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="menu-card">
                <img src="../static/images/dish.png" alt="Food Image">
                <p class="fw-bold">Spicy seasoned seafood noodles</p>
                <p>$ 2.29</p>
                <p class="text-light">20 Bowls available</p>
            </div>
        </div>
    </div>

    <!-- Segunda fila de tarjetas -->
    <div class="row justify-content-center">
        <!-- Tarjeta 4 -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="menu-card">
                <img src="../static/images/dish.png" alt="Food Image">
                <p class="fw-bold">Spicy seasoned seafood noodles</p>
                <p>$ 2.29</p>
                <p class="text-light">20 Bowls available</p>
            </div>
        </div>

        <!-- Tarjeta 5 -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="menu-card">
                <img src="../static/images/dish.png" alt="Food Image">
                <p class="fw-bold">Spicy seasoned seafood noodles</p>
                <p>$ 2.29</p>
                <p class="text-light">20 Bowls available</p>
            </div>
        </div>

        <!-- Tarjeta 6 -->
        <div class="col-md-4 d-flex justify-content-center mb-4">
            <div class="menu-card">
                <img src="../static/images/dish.png" alt="Food Image">
                <p class="fw-bold">Spicy seasoned seafood noodles</p>
                <p>$ 2.29</p>
                <p class="text-light">20 Bowls available</p>
            </div>
        </div>
    </div>
</div>

