<div class="reservation-table shadow">
    <div class="row ">
        <div class="col-6 d-flex align-items-center justify-content-start px-4 py-3">
            <h4 class="text-center">Today's Reservations</h4>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end px-4 py-3">
            <button class="btn yellow-button col-auto" data-bs-toggle="modal" data-bs-target="#addReservationModal">ADD RESERVATION</button>
        </div>
    </div>
    <table class="w-100 text-center">
        <thead>
        <tr>
            <th>IMAGE</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>DESCRIPTION</th>
            <th>CATEGORY</th>
            <th>EDIT</th>
            <th>ELIMINATE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>image</td>
            <td>Name</td>
            <td>+99 000 00 00 00</td>
            <td>00:00</td>
            <td>3</td>
            <td>Done</td>
            <td>
                <button class="btn confirm-btn" data-bs-toggle="modal" data-bs-target="#confirmationModal">✔</button>
                <button class="btn confirm-btn" data-bs-toggle="modal" data-bs-target="#cancellationModal">✘</button>
            </td>
        </tr>
        <tr>
            <td>image</td>
            <td>Name</td>
            <td>+99 000 00 00 00</td>
            <td>00:00</td>
            <td>3</td>
            <td>Done</td>
            <td>
                <button class="btn confirm-btn" data-bs-toggle="modal" data-bs-target="#confirmationModal">✔</button>
                <button class="btn confirm-btn" data-bs-toggle="modal" data-bs-target="#cancellationModal">✘</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>