<div class="reservation-table shadow">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center px-4 py-3">
            <!-- Título dinámico cargado desde el JSON -->
            <h2 class="text-center fw-bold text-dark fs-4"></h2>
        </div>
        <div class="col-12 d-flex justify-content-end px-4 py-3">
            <!-- Botón dinámico cargado desde el JSON -->
            <a href="menu-edit.html" class="btn yellow-button col-auto"></a>
        </div>
    </div>

    <table class="w-100 text-center">
        <thead>
        <tr>
            <th>IMAGE</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>DESCRIPTION</th>
            <th>CATEGORY</th>
            <th>EDIT</th>
            <th>ELIMINATE</th>
        </tr>
        </thead>
        <tbody id="menu-table-body">
        <!-- Aquí se insertarán las filas dinámicamente -->
        </tbody>
    </table>
</div>
