<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center col-auto" href="index.html">
            <img src="../static/images/logo.png" alt="Logo" class="img-fluid" style="width: 40px; height: auto;">
            <h1>RestVisor</h1>
        </a>
        <div class="d-flex justify-content-end">
            <div class="mx-3">
                <button class="btn login-button col-auto">LOG IN</button>
            </div>
            <div>
                <button class="btn white-button col-auto">SIGN UP</button>
            </div>
        </div>
    </div>
</nav>