<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center col-auto" href="index.html">
            <img src="../static/images/logo.png" alt="Logo" class="img-fluid" style="width: 40px; height: auto;">
            <h1>RestVisor</h1>
        </a>
        <div class="d-flex align-items-center">
            <span id="current-date" class="text-dark fw-bold me-3">DD/MM/YYYY</span>
            <button class="btn login-button col-auto">LOGOUT</button>
        </div>
    </div>
</nav>