<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center col-auto" href="index.html">
            <img id="navbarLogo" alt="Logo" class="img-fluid" style="width: 40px; height: auto;">
            <h1 id="navbarBrandName"></h1>
        </a>
        <div class="d-flex align-items-center">
            <span id="current-date" class="text-dark fw-bold me-3"></span>
            <button id="logoutButton" class="btn login-button col-auto"></button>
        </div>
    </div>
</nav>
