<div class="reservation-table shadow">
    <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start px-4 py-3">
            <h4 id="reservations-title" class="text-center">Loading...</h4>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end px-4 py-3">
            <button id="add-reservation-btn" class="btn yellow-button col-auto" data-bs-toggle="modal" data-bs-target="#addReservationModal">ADD RESERVATION</button>
        </div>
    </div>
    <table class="w-100 text-center">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Time</th>
            <th>Guests</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="reservations-body">
        <!-- Las reservas se insertarán dinámicamente aquí -->
        </tbody>
    </table>
</div>