<div class="reservation-table shadow">
    <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start px-4 py-1">
            <h4 class="text-center">Today's Reservations</h4>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end px-4 py-3">
            <button id="clockInButton" class="btn login-button col-auto" data-bs-toggle="modal" data-bs-target="#addReservationModal" onclick="changeText()">Clock-In</button>
            
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end px-4 py-3">
            <button class="btn login-button col-auto" data-bs-toggle="modal" data-bs-target="#addReservationModal">Download</button>
        </div>
    </div>
    <table class="w-100 text-center">
        <hr>
        <thead>
        <tr>
            <th>Date</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>20/02/2024</td>
            <td>09:00</td>
            <td>18:00</td>
            <td>8 Hours 30 min</td>
        </tr>
        <tr>
            <td>20/02/2024</td>
            <td>09:00</td>
            <td>18:00</td>
            <td>8 Hours 30 min</td>
        </tr>
        <tr>
            <td>20/02/2024</td>
            <td>09:00</td>
            <td>18:00</td>
            <td>8 Hours 30 min</td>
        </tr>
        <tr>
            <td>20/02/2024</td>
            <td>09:00</td>
            <td>18:00</td>
            <td>8 Hours 30 min</td>
        </tr>
        <tr>
            <td>20/02/2024</td>
            <td>09:00</td>
            <td>18:00</td>
            <td>8 Hours 30 min</td>
        </tr>
        </tbody>
    </table>
</div>