<div class="sidebar p-3 shadow">
    <h2 class="text-center">Active workers today</h2>
    <hr>
    <ul class="list-unstyled">
        <li><span class="dot green"></span> Name</li>
        <li><span class="dot green"></span> Name</li>
        <li><span class="dot green"></span> Name</li>
        <li><span class="dot green"></span> Name</li>
        <li><span class="dot green"></span> Name</li>
        <li><span class="dot red"></span> Name</li>
        <li><span class="dot red"></span> Name</li>
        <li><span class="dot red"></span> Name</li>
    </ul>
</div>