<form id="userForm">
    <div class="row mb-3">
        <div class="col">
            <input type="text" id="firstName" class="form-control" placeholder="First Name" required>
        </div>
        <div class="col">
            <input type="text" id="lastName" class="form-control" placeholder="Last Name" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <input type="email" id="email" class="form-control" placeholder="Email address" required>
        </div>
        <div class="col">
            <input type="tel" id="phone" class="form-control" placeholder="Phone number">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-8">
            <input type="text" id="address" class="form-control" placeholder="Street Address" required>
        </div>
        <div class="col-4">
            <input type="password" id="password" class="form-control" placeholder="Password" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <input type="text" id="city" class="form-control" placeholder="City">
        </div>
        <div class="col">
            <select id="country" class="form-select">
                <option selected>Select country</option>
                <option>Spain</option>
                <option>France</option>
            </select>
        </div>
        <div class="col">
            <input type="text" id="zip" class="form-control" placeholder="Zip Code">
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="role" id="supervisor" checked>
            <label class="form-check-label" for="supervisor">Supervisor</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="role" id="customer">
            <label class="form-check-label" for="customer">Customer</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-8">
            <input type="text" id="businessName" class="form-control" placeholder="Business Name">
        </div>
        <div class="col-4">
            <input type="text" id="cif" class="form-control" placeholder="CIF">
        </div>
    </div>
    <div class="mb-3">
        <textarea id="businessDesc" class="form-control" rows="3" placeholder="Business Description"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" id="terms" class="form-check-input" required>
        <label class="form-check-label" for="terms">I agree to <a href="#" class="text-primary">terms and conditions</a></label>
    </div>

    <button type="submit" class="btn login-button w-100">SIGN UP</button>
</form>