<div class="sidebar p-3 shadow">
    <h2 class="text-center text-dark">Worker Schedule</h2>
    <br>
    <h2 class="text-center text-dark">Monday: 9:00-18:00</h2>
    <br>
    <h2 class="text-center text-dark">Monday: 9:00-18:00</h2>
    <br>
    <h2 class="text-center text-dark">Monday: 9:00-18:00</h2>
    <br>
    <h2 class="text-center text-dark">Monday: 9:00-18:00</h2>
    <br>
    <h2 class="text-center text-dark">Monday: 9:00-18:00</h2>
    <br>
    <h2 class="text-center text-dark">Monday: 9:00-18:00</h2>
    <br>
    <h2 class="text-center text-dark">Monday: 9:00-18:00</h2>
</div>