<div class="sidebar p-3 shadow">
    <h2 class="text-center text-dark">Worker Schedule</h2>
    <br>
    <ng-container *ngFor="let day of schedule">
        <h2 class="text-center text-dark">{{ day.monday }}</h2>
        <br>
        <h2 class="text-center text-dark">{{ day.tuesday }}</h2>
        <br>
        <h2 class="text-center text-dark">{{ day.wednesday }}</h2>
        <br>
        <h2 class="text-center text-dark">{{ day.thursday }}</h2>
        <br>
        <h2 class="text-center text-dark">{{ day.friday }}</h2>
        <br>
    </ng-container>
  </div>
  