<app-navbar-main></app-navbar-main>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 p-4 d-flex align-items-center justify-content-center">
            <div class="main-contrainer p-4">
                <h5>Restaurant management wasn’t easier!</h5>
                <br />
                <h6>At RestVisor, we understand that speed and real-time oversight are crucial in restaurant management.<br /><br /> That’s why we’ve
                created a comprehensive tool that brings together all the key information you need. Easily manage upcoming reservations
                on the customer side while keeping track of your staff, viewing their work history and monitoring on-duty employees in
                real-time.</h6>
                <br />
                <h6><strong>Streamline your operations, and enhance supervisor efficiency with RestVisor!</strong></h6>

                <div class="button-container">
                <button class="btn signup-button shadow" routerLink="/sign-up">SIGN UP AND SEE MORE!</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-center">
            <div class="col-6 p-2 d-flex justify-content-center align-items-center">
                <img id="supervisorMockup" src="./assets/images/supervisor-mockup.png" alt="Supervisor mockup" class="mockup img-fluid" />
            </div>
            <div class="col-6 p-2 d-flex justify-content-center align-items-center">
                <img id="workerMockup" src="./assets/images/worker-mockup.png" alt="Worker mockup" class="mockup img-fluid" />
            </div>
        </div>
    </div>
</div>

<app-login-modal></app-login-modal>