/* You can add global styles to this file, and also import other style files */
body.modal-open {
    overflow: hidden !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 32px;
    color: white;
}

h2 {
    font-weight: 250;
    font-size: 16px;
    color: white;
}

h3 {
    font-weight: 600;
    font-size: 23px;
    color: #36291C;
}

h4 {
    font-weight: 330;
    font-size: 16px;
    color: #36291C;
}

h5 {
    font-weight: 350;
    font-size: 40px;
    color: #FD493B;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: url('/assets/images/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: radial-gradient(at bottom right,
    rgba(238, 222, 179, 0.92),
    rgba(255, 87, 65, 0.92)
    );
    z-index: -1;
}